torch
torchvision
ultralytics
Pillow
fastapi==0.103.2
uvicorn
python-multipart
email-validator
sqlmodel==0.0.14
psycopg2-binary
supabase
pydantic==1.10.13
pydantic-settings==0.2.5
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-dotenv
