torch
torchvision
ultralytics
Pillow
fastapi
uvicorn
python-multipart
email-validator
sqlmodel==0.0.16
psycopg2-binary
supabase
pydantic-settings==2.2.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
